# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Cmake or Xmake Files
.xmake/
build/
lib/
test/
!test/*.c
!test/Makefile*
!test/cgraph.r
!test/cgraph.py
!test/cgraph.sql
!test/elements.csv

# VSCode Files
.clang-format
.vscode/
.vstags
.VSCodeCounter/

# Autoconf Files
*.log
autom4te.cache/
aclocal.m4
config.*
configure*
!Configure.pl
install-sh
libtool
ltmain.sh
Makefile.*
!Makefile.am
!Makefile.mk
!Makefile.sub
missing
stamp-h1

# Doc/Markdown Files
Doxyfile.bak
doc/*
!doc/build-gtk-doc.sh
!doc/*.pl
!doc/Makefile.mk
!doc/Makefile.am
!doc/Introduction.md

# Compile Scripts
[0-9]*
script/compile
script/compile.exe
script/compile.hi
/compile*
/xmake.lua
/CMakeLists.txt

# Test Cases
test/
!/test/*.c
!/test/*.r
!/test/*.py
!/test/*.sql
!/test/*.csv
!/test/Makefile.mk