# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Cmake or Xmake Files
.xmake/
build/
lib/

# VSCode Files
.clang-format
.vscode/
.vstags
.VSCodeCounter/

# Autoconf Files
autom4te.cache/
m4/*
!m4/ax*
.deps/
.libs/
include/cgraph_stdint.h
include/cgraph_stdchk.h
src/.deps/
src/.libs/
test/.deps/
test/.libs/
*.log
aclocal.m4
confdefs.*
conftest.*
config.*
configure
!Configure.pl
depcomp
install-sh
gtk-doc.m4
gtk-doc.make
test-driver
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
ar-lib

# Doc/Markdown Files
*.orig
Doxyfile
doc/*
!doc/build-gtk-doc.sh
!doc/*.pl
!doc/Introduction.md

# Compile Scripts
[0-9]*
script/compile
script/compile.exe
script/compile.hi
!script/compile.d
/compile*
/xmake.lua
/CMakeLists.txt
/meson.build

# Test Cases
test/*
!test/*.c
!test/*.r
!test/*.py
!test/*.sql
!test/*.csv