[submodule "python"]
	path = python
	url = ./python
[submodule "dist"]
	path = dist
	url = ./dist
[submodule "perl"]
	path = perl
	url = ./perl
[submodule "r"]
	path = r
	url = ./r
[submodule "julia"]
	path = julia
	url = ./julia
