# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Cmake or Xmake Files
.xmake/
build/
lib/
test/cgraph

# VSCode Files
.clang-format
.vscode/
.vstags
.VSCodeCounter/

# Autoconf Files
*.log
autom4te.cache/
configure*
!Configure.pl

# Doc/Markdown Files
Doxyfile.bak
doc/
!doc/build-gtk-doc.sh
!doc/data.pl
!doc/headers.pl
!doc/sources.pl
!doc/Makefile
!doc/Introduction.md

# Compile Scripts
[0-9]*
script/compile
script/compile.exe
script/compile.hi
/compile*
/xmake.lua
/CMakeLists.txt

# Test Cases
test/
!test/*.c
!test/*.r
!test/*.py
!test/*.sql
!test/*.csv
!test/Makefile